/*@charset "utf=8";*/

body{
	background-color:#000;
	color:#FFF;
	font-family : Verdana;
}

a {
	color:#FF7F00;
}

#header {
	position: relative;
	/*background-color:#FFF;*/	
	/*opacity:0.5;*/
	width:950px;
	height:180px;	
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
}

#header #logo {
	text-align:right;
	font-family:verdana;
	font-style:italic;
	font-size:14px;
	position:absolute;
	width:500px;
	top:0;
	left:0;
	padding:0;
	/*border:2px solid;*/
	color:#FFF;
}

#header #menu {
	color:#FFF;
	position: absolute;
	width:420px;
	left : 510px;
	top: 32px;
	/*border:2px solid;*/
}

#menu #panel {
	position: absolute;
	height:47px;
	width:420px;
	margin-left:10px;
}

#menu #userpanel { /* used for login block*/
	position:relative;
	top:0;
	left: 0;
	height:63px;
	font-family:'lucida grande', Verdana;
	font-size:11px;
	margin: 10px;
	border-radius:7px;
	padding:10px;
	display:block;
	background:#0E0E0E;
}

#imageslider{
	height:300px;
	width:950px;
}

#desc {
	position:relative;
	width:950px;
	height:650px;
	margin: 10px;
}

.content { /*used for content throughout the site*/
	font-family:Tahoma;
	color:#FFF;
	margin: 10px;
	padding:10px;
	font-size : 13px;
	border: 1px solid #222;
	background:#050505;
	border-radius:10px;
}

a.overall {
    text-decoration:none;
    font-family:Verdana;
    color: #FFF;
}
a.overall:hover {
   color:#FF7F00; 
}

#overall {
    font-family:Verdana;
    color:#FFF;
    font-size:12px;
}


.content ul li a:hover {
	background:#FF7F00;
	color: #000;
	text-shadow:1px 1px 1px #333;

}

#footer {
	height:30px;
	position:relative;
	font-size:10px;
	text-align:center;
}
/*For menu items - color is assigned seperately*/

#cont {
	width:900px;
}

.pro_head {
	font-family:Impact;
	font-size:32px;
	width:300px;
}

.pro_quote {
	font-family:Georgia;
	font-size:24px;
	font-style:italic;
	width:650px;
}

.avatar {
	border: 5px solid #111;
}

.playerinfo {
	text-align:center;
	width:40px;
	height:30px;
}

.handle {
	text-decoration:none;
}

.timestamp {
	font-size:12px;
	color:#63add0;
	font-family:Tahoma;
}

#register_message{
	width: 600px;
}

.top10 {
	font-size:14px;
	padding:10px;
}

#user_menu {
	font-size:12px;
}

#user_menu ul {
	list-style:none;
	margin:10px 5px 20px 5px;
	padding:0;
}

#user_menu ul li {
	display : inline;
}

#user_menu ul li a {
	text-decoration:none;
	padding : 5px 15px 5px 15px;
	background:#471100;
	color: #eee;
	border-radius:5px;
}

#user_menu ul li a:hover {
	background:#FF7F00;
	color: #000;
	text-shadow:1px 1px 1px #333;

}

#main_contents {
	width:950px;
	overflow:auto;
}

#left_sidebar {
	float:left;
	margin: 10px;
	border:1px solid #111;
	border-radius:10px;
}

#main_text {
	font-family:Tahoma;
	color:#FFF;
	font-size:12px;
	width:650px;
	float:left;
	margin: 5px 0px 5px 10px;
	border:1px solid #111;
	padding: 10px;
	text-align:left;
	border-radius:10px;
}

.menulink {
	width:200px;
	text-decoration:none;
	padding : 5px 15px 5px 15px;
	background:#471100;
	color: #eee;
	border-radius:5px;
}

#report1v1 {
	width:950px;
}

#report2v2 {
	width:950px;
}

table tr td {
	margin: 10px;
	padding:0px 10px 0px 10px;
}
